.container.col-8
    form(action ="/register",method='POST')
        label.form-label(for = "user-name") Name:
        input#user-name.form-control(type="text",name='name' placeholder='Full Name')
        label.form-label(for = "mobile-number") Mobile Number:
        input#user-name.form-control(type="text",name='mobile' placeholder='403 555 5555')
        label.form-label(for = "email-address") Email:
        input#user-name.form-control(type="text",name='email' placeholder='ss@gmail.com')
        label.form-label(for = "message") message:
        input#user-name.form-control(type="text",name='message' placeholder='Message')
        input#submit.btn.btn-primary.mt-2(type="submit" value='submit')