html(lang='en')
    head 
        title=pageTitle
        link(rel="stylesheet", href="style.css")
        script(
            type:'text/javascript'
            src:script.js 
            defer
        ) 
    body
        header
            ul
                li
                    a(href="#") link1
                li 
                    a(href="#") link2