html(lang='en')
    head 
        title=pageTitle
        link(rel="stylesheet", href="style.css")
        script(
            type:'text/javascript'
            src:script.js 
            defer
        ) 
    body
        header 
            ul 
                li 
                    a(href="#") link1 
                li 
                    a(href="#") link2   
        h1=pageHeader
        div
            if isauthenticated 
                p.author user granted access 
            else 
                p.unauthor user unauthorized
        footer 
            p copyright 2022
            p nodeclass 2022
        