.container
  //h1.heading
    | Image Gallery with CSS Grid 
    span &amp; Flexbox Fallback 
    
  .gallery
    .gallery-item
      img.gallery-image(src='assets/ROAST PANINI.jpg' alt='Roast Panini')
    .gallery-item
      img.gallery-image(src='assets/MILANO.jpg' alt='Milano')
    .gallery-item
      img.gallery-image(src='assets/TANDOORI.jpg' alt='Tandoori')
    .gallery-item
      img.gallery-image(src='assets/Basil Pesto 80x80.jpg' alt='Basil')
    .gallery-item
      img.gallery-image(src='assets/SPICY WEDGES.jpeg' alt='Spicy Wedges')
    .gallery-item
      img.gallery-image(src='assets/TUNA.jpg' alt='Tuna')
