h1=pageHeader 
div#bg
    if isauthenticated 
        p.author| Gourmet Italian Grilled Sandwiches ... Gourmet Italian Grilled Sandwiches ...Gourmet Italian Grilled Sandwiches ... Gourmet Italian Grilled Sandwiches ... Gourmet Italian Grilled Sandwiches
    else
        p.unathor NOT ATHENTICATED