h1{
    color: greenyellow;
    text-align: center;
}

.author{
    color: red;
    text-align: center;
    background-color:rgb(235, 244, 133);
}

.unathor{
    color: blueviolet;
}

header{
   
}
footer{
    background-color: rgb(234, 226, 241);
    text-align: center;

}
ul{
    display: flex;
    justify-content: flex-start;
    justify-content: right;
    gap: 4rem;
    list-style: none;
}

.li-class > a {
    color:green;
    font-size: 20px;
    text-decoration-line: none ;
    text-decoration: none;
    
}



.li-class > a:hover {
    color: blue;

}



#bg{
    background-color: rgb(235, 244, 133);
}

.c{
    color: red;
    text-decoration-thickness: 10rem;
}