form(action ="/login",method='POST')
    label.form-label(for = "user-name") Name:
    input#user-name.form-control(type="text",name='user-name')
    label.form-label(for = "user-name") Mobile Number:
    input#user-name.form-control(type="text",name='user-name')
    label.form-label(for = "user-name") Email:
    input#user-name.form-control(type="text",name='user-name')
    label.form-label(for="password")
    input#password.form-control(type="password" name='password')
    input#submit(type="submit" value='submit')